.editor {
  width: 100%;
  height: 100%;
  background: #282C34;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
  color: #EFFEFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.editor--default-instructions {
  margin: 0;
}

.editor--message.hidden {
  opacity: 0;
  visibility: hidden;
}

.editor--message {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: all .1s ease-in;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editor--message-error {
  background: #eb3737;
}

.editor--message-action {
  background: #87F1FF;
  color: #444;
}

.editor--message-success {
  background: #09EEB1;
}

.editor--message-header {
  font-weight: bold;
}

.editor--filename {
  color: #0f0109;
  background: #EFFEFF;
  border-radius: .25em;
  padding: .25em;
  vertical-align: bottom;
}

.editor--library-name-input {
  display: none;
  outline: 0;
  padding: .75em;
  border: 1px solid transparent;
  border-radius: 0.35em;
  font-size: 1.5em;
  width: 20em;
  text-align: center;
  background: #EFFEFF;
}

.editor--existing-libraries {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.editor--library {
  width: 80%;
  color: #0f0109;
  background: #EFFEFF;
  border-radius: .35em;
  padding: 1em;
  margin-bottom: 1em;
}

.editor--library-name {
  font-weight: bold;
  float: left;
}

.editor--library-open, .editor--library-remove {
  color: #0f0109;
  background: #EFFEFF;
  text-decoration: none;
  float: right;
}
