<div class="editor--default-instructions">
  <h1>Welcome to Neptune.</h1>
  <p>To add a new iTunes library, drag it into this window.</p>
  <p>iTunes libraries are files with the name <code class="editor--filename">iTunes Library.itl</code></p>
</div>

<div class="editor--existing-libraries hidden">
  <h3>Existing libraries</h3>
</div>

<div class="editor--message hidden">
  <h1 class="editor--message-header"></h1>
  <form class="editor--library-naming">
    <input type="text" placeholder="Library Name (External, Network...)" class="hidden editor--library-name">
  </form>
  <p class="editor--message-details"></p>
</div>
