<div class="editor--default-instructions">
  <h1>Neptune Preferences</h1>
  <p>To add a new library, drag its <code class="editor--filename">iTunes Library.itl</code> file into this window.</p>
</div>

<div class="editor--existing-libraries"></div>

<div class="editor--message hidden">
  <h1 class="editor--message-header"></h1>
  <form class="editor--library-naming">
    <input type="text" placeholder="Library Name (External, Network...)" class="hidden editor--library-name-input">
  </form>
  <p class="editor--message-details"></p>
</div>
